<label for="firstnameInput" class="form-label">First Name</label>
<input
  type="first_name"
  name="first_name"
  value="<%= author.first_name %>"
  class="form-control"
  id="firstnameInput"
  aria-describedby="firstnameHelp"
/>
<div id="firstnameHelp" class="form-text">
  We'll never share your name with anyone else.
</div>
<!-- LAST NAME -->
<label for="lastnameInput" class="form-label">Last Name</label>
<input
  type="last_name"
  name="last_name"
  value="<%= author.last_name %>"
  class="form-control"
  id="lastnameInput"
  aria-describedby="lastnameHelp"
/>
<div id="lastnameHelp" class="form-text">
  We'll never share your name with anyone else.
</div>

<!-- PHONE NO -->
<label for="phoneNoInput" class="form-label">Phone No</label>
<input
  type="phone_no"
  name="phone_no"
  value="<%= author.phone_no %>"
  class="form-control"
  id="phoneNoInput"
  aria-describedby="phoneNoHelp"
/>
<div id="phoneNoHelp" class="form-text">
  We'll never share your name with anyone else.
</div>
